<div class="w-full max-w-md mx-auto mt-12 p-6 bg-white rounded-2xl shadow-md">
  <h2 class="text-2xl font-bold text-center mb-6">Đăng ký tài khoản</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">

    <mat-form-field  class="w-full !bg-white">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" class="" required>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Tên</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Mật khẩu</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Xác nhận mật khẩu</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required>
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" class="w-full" type="submit">
      Đăng ký
    </button>
  </form>

  <p class="text-sm text-center text-gray-600 mt-4">
    Đã có tài khoản? <a class="text-blue-600 cursor-pointer hover:underline" (click)="goToLogin()">Đăng nhập</a>
  </p>
</div>
