<div class="max-w-6xl mx-auto p-5 grid grid-cols-1 md:grid-cols-2 gap-12">
    <!-- Hình ảnh sản phẩm -->
    <div class="w-full">
        <img [src]="mainImage" class="w-full rounded-xl shadow-md" />
        <!-- Thumbnails -->
        <div class="flex mt-4 space-x-2">
            @for (item of product.images; track $index) {
            <img [src]="item" (click)="changeImage(item)"
                class="w-16 h-16 rounded-md cursor-pointer border-2 border-gray-300 hover:border-black" />
            }
        </div>
    </div>

    <!-- Thông tin sản phẩm -->
    <div>
        <h1 class="text-3xl font-bold mb-2">{{product.name}}</h1>
        <p class="text-gray-600 mb-4">{{product.shortDescription}}</p>

        <p class="text-2xl font-semibold mb-4 text-gray-400 text-sm line-through">{{ product.price | currency:'VND'}}
        </p>
        <p class="text-2xl text-red-500 font-semibold mb-4">{{sellingPrice | currency:'VND'}}</p>

        <!-- Lựa chọn kích thước -->
        <div class="mb-4">
            <h2 class="text-md font-medium mb-1 text-orange-300">Discout: {{product.discount}} % OFF</h2>
            <!-- <div class="flex gap-2">
        <button class="px-3 py-1 border rounded-md hover:bg-gray-100">S</button>
        <button class="px-3 py-1 border rounded-md hover:bg-gray-100">M</button>
        <button class="px-3 py-1 border rounded-md hover:bg-gray-100">L</button>
        <button class="px-3 py-1 border rounded-md hover:bg-gray-100">XL</button>
      </div> -->
        </div>

        <!-- Lựa chọn màu -->
        <div class="mb-4">
            <h2 class="text-md font-medium mb-1">Màu sắc:</h2>
            <div class="flex gap-3">
                <div class="w-6 h-6 rounded-full bg-red-500 border-2 border-gray-300 cursor-pointer"></div>
                <div class="w-6 h-6 rounded-full bg-blue-500 border-2 border-gray-300 cursor-pointer"></div>
                <div class="w-6 h-6 rounded-full bg-yellow-500 border-2 border-gray-300 cursor-pointer"></div>
            </div>
        </div>

        <!-- Nút hành động -->
        <div class="mt-6">
            <button class="bg-black text-white px-6 py-3 rounded-xl hover:bg-gray-800 transition duration-300">Thêm vào
                giỏ hàng</button>
        </div>
    </div>
</div>
@if (similarProducts.length) {
<div>
    <h4 class="text-2xl font-bold">Similar Products</h4>
    <div class="flex flex-wrap justify-between gap-1">
        @for (product of similarProducts; track $index) {
        <app-product-card [product]="product"></app-product-card>
        }
    </div>
</div>
}